body {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    margin: 0;
    background: #F5F6F9;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #5e6773;
}

.blank-page {
    width: 100%;
    height: 100%;
}

.blank-page-body {
    width: 100%;
    height: 93%;
    display: flex;
}

.blank-page-main {
    width: 100%;
    height: 100%;
    background: #F5F6F9;
    overflow: auto;
}

.blank-page-header {
    padding: 12px 25px;
    border-bottom: 1px solid #e3e3e3;
    background-color: #fff;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.blank-page-header-right a {
    color: #00aaff;
    text-decoration:none;
}

.blank-page-header-right a i {
    font-size: 15px;
    margin-right: 3px;
    color: #a0aeba;
}

.blank-page-header-left {
    display:flex;
    flex-direction:column;
    font-size: 13px;
    color: #a0aeba;
    text-align:left;
}

.blank-page-header-left-welcome {
    color: #5e6773;
    font-size: 17px;
}

.blank-page-main-content {
    display:flex;
    flex-direction:column;
    background:white;
    margin:25px;
    text-align:left;
    padding:15px 25px;
    overflow:auto;
    border: 1px solid #d1d6e6;
    border-radius: 3px;
}

.blank-page-main-content-header {
    font-weight: 500;
    color: #717d84;
    font-size:16px;
    padding-bottom:10px;
    display: flex;
    flex-direction: column;
}

.blank-page-main-title {
    font-size: 13px;
    color: #a0aeba;
}

.blank-page-main-content-details {
    padding: 20px 0;
}

@media only screen and (max-width:830px) {
    .blank-page-header {
        flex-direction:column;
        align-items:flex-start;
    }
}

@media only screen and (max-height: 500px) {
    .blank-page-body {
        flex-direction:column;
    }

    .blank-page-main {
        height:85%;
    }
}

@media only screen and (max-height: 370px) {
    .blank-page-main {
        height:83%;
    }
}