body {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    margin: 0;
    background: #F5F6F9;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #5e6773;
}

.dashboard {
    width: 100%;
    height: 100%;
}

.dashboard-body {
    width: 100%;
    height: 93%;
    display: flex;
}

.dashboard-main {
    width: 100%;
    height: 100%;
    background: #F5F6F9;
    overflow: auto;
}

.dashboard-header {
    padding: 12px 25px;
    border-bottom: 1px solid #e3e3e3;
    background-color: #fff;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.dashboard-header-right a {
    color: #00aaff;
    text-decoration:none;
}

.dashboard-header-right a i {
    font-size: 15px;
    margin-right: 3px;
    color: #a0aeba;
}

.dashboard-header-left {
    display:flex;
    flex-direction:column;
    font-size: 13px;
    color: #a0aeba;
    text-align:left;
}

.dashboard-header-left-welcome {
    color: #5e6773;
    font-size: 17px;
}

.dashboard-main-content {
    margin:25px;
    display: flex;
    flex-direction: column;
}

.dashboard-main-users-status-info {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}

.dashboard-main-users-widget {
    width: 22%;
    background: white;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    border: 1px solid #d1d6e6;
}

.dashboard-main-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;

}

.dashboard-main-total-icon-wrapper {
    background-image: -webkit-linear-gradient(-45deg, #0E9BE2 50%, #3EAFE8 50%);
}

.dashboard-main-active-icon-wrapper {
    background-image: -webkit-linear-gradient(-45deg, #1DBB8E 50%, #4AC9A5 50%);
}

.dashboard-main-inactive-icon-wrapper {
    background-image: -webkit-linear-gradient(-45deg, #ff4402 50%, #FF6935 50%);
}

.dashboard-main-online-icon-wrapper {
    background-image: -webkit-linear-gradient(-45deg, #F3BB23 50%, #F5C94F 50%);
}

.dashboard-main-icon-wrapper i {
    color:white;
}

.dashboard-main-content-status-info-right {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 10px;
}

.dashboard-main-content-title {
    color: #a0aeba;
    font-weight: bold;
}

.dashboard-main-content-value {
    font-size: 24px;
    font-weight: 300;
    color: #00aaff;
}

.dashboard-main-registration-details {
    display:flex;
    margin-top:20px;
    padding:10px;
    width:100%;
}

.dashboard-main-all-time-registration {
    display:flex;
    flex-direction:column;
    width:70%;
    margin-right:25px;
    background-color:white;
    border-radius:5px;
    border: 1px solid #d1d6e6;

}

.dashboard-main-latest-registration {
    background-color:white;
    width:30%;
    border-radius:5px;
    border: 1px solid #d1d6e6;
}

.dashboard-main-all-time-registration-header,
.dashboard-main-latest-registration-header {
    padding:10px 15px;
    color: #717d84;
    font-weight:bold;
    text-align:left;
    border-bottom: 1px solid #eaeff2;
    background-color: #f8f9fa;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.dashboard-main-all-time-registration-main {
    display:flex;
    padding-bottom:35px;
}

.dashboard-main-registration-graph {
    width:65%;
    border-right:1px solid #eaeff2;
    padding:20px 15px;
}

.dashboard-main-registration-graph-header {
    text-align:left;
}

.dashboard-main-registration-graph-options {
    background-color: #5bc0de;
    border:1px solid #4ebbdb;
    padding: 5px 18px;
    border-radius: 3px;
    color: #fff;
    outline:none;
    margin-bottom:5px;
}

.dashboard-main-registration-graph-options:hover,
.dashboard-main-registration-graph-options:focus {
    background-color: #4ebbdb;
    border-color: #4ebbdb;
    outline:none;
}

.dashboard-main-all-time-registration-main-graph {
    padding:15px 0 0 0;
}

.dashboard-main-all-time-user-details {
    width:35%;
    padding:20px 15px;
}

.dashboard-main-all-time-user-details h3 {
    margin: 0 0 15px 0;
    font-size: 15px;
    font-weight: 600;
    color: #5E6773;
}

.table {
    font-size: 14px;
    color: #5e6773;
    margin-bottom: 0;
}

.table td {
    padding: 10px;
}

.table-hover > tbody > tr:hover {
    background-color: #f5f8fc;
    color: #5e6773;
}

.dashboard-main-users-gender-ratio {
    padding-bottom: 20px;
}

.dashboard-main-users-gender-ratio-details {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    font-size: 15px;
    font-weight: 600;
    color: #5E6773;
}

.progress {
    height: 7px;
    background-color: rgba(32, 178, 170, 0.2);
}

.progress-bar {
    background-color: #20B2AA;
}

.dashboard-main-latest-registration-header a {
    color: #717d84;
    cursor:pointer;
}

.dashboard-main-latest-registration-header {
    display:flex;
    justify-content:space-between;
}

.dashboard-main-latest-registration-header a:hover {
    text-decoration:underline;
}

.dashboard-main-latest-registration-user-image img {
    width:60px;
    height:60px;
    border-radius:50%;
    border:2px solid #53c265;
}

.dashboard-main-latest-registration-user-details {
    display:flex;
    flex-direction:column;
    row-gap:10px;
    justify-content:center;
}

.dashboard-main-latest-registration-user-details a {
    color: #5E6773;
    font-weight:600;
}

.dashboard-main-latest-registration-user-details a:hover {
    text-decoration:underline;
}

.dashboard-main-latest-registration-main {
    height: 500px;
    overflow: auto;
}

@media only screen and (max-width: 1100px) {
    .dashboard-main-users-status-info {
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 10px;
    }

    .dashboard-main-users-widget {
        width: 45%;
    }

    .dashboard-main-registration-details {
        flex-direction:column;
    }

    .dashboard-main-all-time-registration {
        width:100%;
    }

    .dashboard-main-latest-registration {
        width:100%;
        margin:25px 0;
    }
}

@media only screen and (max-width: 800px) {
    .dashboard-main-all-time-registration-main {
        flex-direction:column;
    }

    .dashboard-main-registration-graph {
        width:100%;
        border-right:none;
    }

    .dashboard-main-all-time-user-details {
        width:100%;
    }
}

@media only screen and (max-width: 700px) {
    .dashboard-main-users-widget {
        width: 100%;
    }
}

@media only screen and (max-width: 420px) {
    .dashboard-main-content-value {
        font-size: 16px;
    }

    .dashboard-main-icon-wrapper {
        width: 40px;
        height: 40px;
    }

    .dashboard-main-content-status-info-right {
        padding-left: 5px;
    }

    .dashboard-main-users-widget {
        padding: 10px;
        column-gap: 5px;
    }

    .dashboard-main-users-status-info {
        padding: 0;
    }

    body {
        font-size:12px;
    }

    .dashboard-main-all-time-registration-main-graph {
        padding: 10px 0 0 0;
    }

    .dashboard-header {
        flex-direction:column;
        align-items: flex-start;
    }

    .dashboard-main-registration-details {
        padding:0;
    }

    .dashboard-main-all-time-registration {
        margin-right:0;
    }

    .dashboard-main-content {
        margin:10px;
    }

    .dashboard-main-latest-registration-header {
        flex-direction:column;
    }
}