body {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    margin: 0;
    background: #F5F6F9;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

.dashboard {
    width: 100%;
    height: 100%;
}

.dashboard nav {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    background: linear-gradient(to right, #1f6ad0 0%, #13b9de 100%);
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.dashboard-nav-left {
    margin-left: 35px;
}

.dashboard-nav-right {
    margin-right: 35px;
}

.dashboard-user-name {
    cursor: pointer;
    outline: none;
}

.dashboard-nav-right-dropdown-menu {
    display: none;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    width: 150px;
}

.dashboard-nav-right-dropdown-menu a {
    padding: 15px;
    color: #5e6773;
    border: 1px solid #D1D6E6;
    background: white;
}

.dashboard-nav-right-dropdown-menu a i {
    color: #a0aeba;
}

.dashboard-nav-right:hover .dashboard-nav-right-dropdown-menu {
    display: flex;
}