body {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    margin: 0;
    background: #F5F6F9;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    flex-direction: column;
}

.login {
    width: 70%;
    height: 70%;
    padding: 5px;
    display: flex;
}

.login-left {
    width: 45%;
    background: white;
    height: 95%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.login-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.login-left-header {
    margin-bottom: 13px;
}

.img-circle {
    border-radius: 50%;
    border: 1.5px solid #E1E1E1;
}

.login-info {
    color: #5E6773;
    font-size: 18px;
    margin-top: 5px;
}

.login-input {
    background: #FCFCFC;
    border: 1px solid #E1E3EA;
    color: #999999;
    padding: 8px 8px 8px 12px;
    width: 80%;
    outline: none;
    border-radius: 3px;
    margin-bottom: 17px;
    font-size: 16px;
}

.login-remember-me {
    display: flex;
    justify-content: center;
    column-gap: 5px;
    align-items: center;
    color: #a0aeba;
    margin-bottom: 17px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
    margin: 5px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch input:checked + .slider {
    background-color: #2196F3;
}

.switch input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}

#login-button {
    width: 80%;
    background: #00AAFF;
    color: white;
    outline: none;
    border-radius: 3px;
    border: 1px solid #00AAFF;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 20px;
    cursor: pointer;
}

.login-forget-password {
    color: #a0aeba;
    margin-top: 18px;
}

.login-forget-password a {
    text-decoration: none;
    color: #00aaff;
}

.login-message {
    color: #e32525;
    width: 100%;
    height: 5%;
    text-transform:capitalize;
}

.login-right {
    width: 55%;
    color: white;
    background-image: url("../assests/login-bg.jpg");
    display: flex;
    height: 95%;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-right .overlay {
    display: flex;
    align-items: center;
    padding-left: 20px;
    width:100%;
    height:100%;
    background-color: rgba(99, 156, 185, 0.92);
}

.login-right-content h1 {
    font-weight: 300;
    margin: 5px;
}

.login-right-content p {
    display: flex;
    margin: 5px;
    font-size: 18px;
    font-weight: 300;
}

@media only screen and (max-width: 900px) {
    .login-right {
        display: none;
    }

    .login-left {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .login {
        height:85%;
        width: 85%;
    }
}

@media only screen and (max-height: 635px) {
    .login {
        height: 90%;
    }
}

@media only screen and (max-height: 510px) {
    .login-form {
        overflow:auto;
    }

    .login-left-header {
        margin-bottom: 8px;
    }

    .img-circle {
        height:60px
    }

    .login-info {
        margin-bottom: 8px;
    }

    .login-input {
        padding: 8px;
        margin-bottom: 8px;
        font-size: 16px;
    }

    .login-remember-me {
        margin-bottom: 8px;
    }

    #login-button {
        padding: 5px;
        margin-bottom: 5px;
        font-size: 16px;
    }

    .login-forget-password {
        margin-top: 5px;
    }

    .login-message {
        margin-top:10px;
        margin-bottom:0;
    }

}

@media only screen and (max-height: 385px) {
    .login {
        height: 95%;
    }

    .login-left-header {
        display:flex;
        justify-content:center;
        column-gap:5px;
        align-items:center;
    }

    .img-circle {
        height:30px
    }

    .login-info {
        margin-bottom: 8px;
        font-size:16px
    }

    .login-forget-password {
        margin-bottom: 5px;
    }

    .login-message {
        margin:0;
    }

}
