body {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    margin: 0;
    background: #F5F6F9;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #5e6773;
}

.user {
    width: 100%;
    height: 100%;
}

.user-body {
    width: 100%;
    height: 93%;
    display: flex;
}

.user-main {
    width: 100%;
    height: 100%;
    background: #F5F6F9;
    overflow: auto;
}

.user-header {
    padding: 20px 25px;
    border-bottom: 1px solid #e3e3e3;
    background-color: #fff;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.user-header-right a {
    color: #00aaff;
    text-decoration:none;
}

.user-header-right a i {
    font-size: 15px;
    margin-right: 3px;
    color: #a0aeba;
}

.user-header-left {
    font-size: 18px;
}

.user-information-with-header {
    display: flex;
    flex-direction: column;
    background-color:white;
    border-radius:3px;
    text-align:left;
    border: 1px solid #d1d6e6;
    padding: 10px;
}

.user-information-header, .user-profile-header {
    font-size: 16px;
    color: #717d84;
}

.user-information-header {
    margin-left:10px;
}

.user-information {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user-details {
    display: flex;
    flex-direction: column;
    margin:10px;
    text-align:left;
    color: #a1a7af;
}

.user-input {
    margin-top:5px;
    padding: 5px 0 5px 8px;
    width: 220px;
    border-radius: 2px;
    border:1px solid #e1e3ea;
    background-color: #fcfcfc;
    color: #5e6773;
    outline:none;
    height: 32px;
}

.select2-results__options {
    text-align: left;
}

.select2-container {
    margin-top: 5px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #5e6773;
}

.select2-container--default .select2-selection--single {
    border-radius: 2px;
    border:1px solid #e1e3ea;
    background-color: #fcfcfc;
    outline:none;
    height:32px;
}

.user-input:focus{
    background-color:white;
}

.user-address {
    height: 100px;
}

hr {
    margin-top: 10px;
    width: 100%;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
}

.user-details-status {
    background-color:#777;
    font-weight:400;
    border-radius: 10px;
    padding:3px 7px;
    width: 80px;
}

.update-user-main {
    display:flex;
    flex-direction:column;
    margin:30px;
}

.user-profile {
    background-color:white;
    border-radius:3px;
    border: 1px solid #d1d6e6;
    text-align: left;
    padding: 10px 10px 10px 10px;
}

.user-profile-image-details {
    width: 100%;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-body h4 {
    font-size:20px;
    margin-bottom:22px;
}

.modal-body .btn {
    width:65px;
}

.modal-body .btn-success {
    background-color: #41B314;
    border-color: #3ca512;
}

.modal-body .btn-danger {
    background-color: #F9354C;
    border-color: #f9263f;
}

.user-profile-label {
    color: #a0aeba;
    font-weight: normal;
    width: 100%;
}

.user-profile-details {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    row-gap: 10px;
}

.update-user-image-container {
    display:flex;
    align-items:center;
    justify-content:center;
    height:200px;
    border:2px solid #e6e6e6;
    width:100%;
    padding:10px;
}

.update-user-image-container img {
    width:180px;
    height:180px;
}

.update-user-image {
    margin-top:20px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    row-gap:15px;
}

.update-user-image-change, .update-user-input-change, .update-user-image-remove {
    color: #5e6773;
    border:1px solid #e4e4e4;
    background-color: #fafbfc;
    border-radius: 3px;
    outline:none;
    padding:5px 10px;
    margin-bottom:5px;
}

.update-user-image-remove {
    background-color: #f9263f;
    border-color: #f9263f;
    color: white;
}

.update-user-image-remove:hover {
    color: white;
}

.update-image-action-button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}

.update-user-image-change:focus, .update-user-input-change:focus, .update-user-image-remove:focus {
    outline:none;
}

.user-details-submit-or-reset {
    margin: 15px;
}

.user-submit-button, .user-reset-button {
    outline: none;
    border-radius: 3px;
    padding: 6px 22px;
    font-size:14px;
    margin-bottom: 5px;
}

.user-submit-button {
    background-color: #00AAFF;
    border-color: #00a0f0;
}

.user-reset-button {
    color: #5e6773;
    border-color: #e4e4e4;
    background-color: #fafbfc;
}

.user-footer {
    width: 100%;
    text-align: right;
}

.user-permission {
    padding:10px;
    background-color:white;
    margin:30px 0;
    text-align:left;
    border: 1px solid #d1d6e6;
}

.user-permission-header {
    font-size: 16px;
    color: #717d84;
    padding-left: .75rem;
    padding-bottom: .75rem;
}

.table thead tr {
    font-size: 15px;
    background-color: #fff;
    color: #a1a7af;
}

.table thead tr th {
    font-weight:normal;
}

.table tbody tr td {
    font-size: 14px;
    color: #5e6773;
}

.table th {
    border-top: 0;
}

.user-message, #password-message {
    color: #e32525;
    width: 100%;
    height: 5%;
    text-transform:capitalize;
}

@media only screen and (max-width: 930px) {
    .select2-container {
        width:300px !important;
    }

    .user-input {
        width: 300px;
    }
}

@media only screen and (max-width: 730px) {
    .user-input {
        width: 90%;
    }

    .select2-container {
        width:90% !important;
    }

    .user-details {
        width:100%
    }

    .table thead th {
        border-bottom: 1px solid #dee2e6;
    }

    .table td, .table th {
        padding: 10px 5px;
    }
}

@media only screen and (max-width: 500px) {
    .update-user-image-container img {
        width:100px;
        height:100px;
    }

    .update-user-image-container {
        height:150px;
        padding:10px;
    }
}

@media only screen and (max-width: 450px) {
   .update-user-main {
       margin: 30px 8px;
   }
}

@media only screen and (max-width: 340px) {
    .update-user-image-container img {
        width:80px;
        height:80px;
    }

    .update-user-image-container {
        height:100px;
        padding:10px;
    }
}

@media only screen and (max-height: 500px) {
    .user-body {
        flex-direction:column;
    }

    .user-main {
        height:85%;
    }
}

@media only screen and (max-height: 370px) {
    .user-main {
        height:83%;
    }
}